@import '../global.css';

body {
    height: 100vh;
    background-color: var(--color-background);
    font-family: var(--font-text);
}

header {
    background-color: var(--color-background-complement);
    padding: 20px;
    box-shadow: 0 8px 8px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

header > img {
    border-radius: 50%;
    border: 2px solid var(--color-detach);
}

header > h1 {
    font-family: var(--font-title-secundary);
    color: var(--color-title);
}

header > nav {
    display: flex;
    column-gap: 10px;
}

header i.fa-square-github {
    color: #010008;
}

header i.fa-linkedin {
    color: #0e76a8;
}

main .sobre-mim, 
main .tecnologias,
.projeto {
    padding: 20px;
    max-width: 80vw;
    margin: 20px auto;
    background-color: var(--color-background-complement);
    color: var(--color-text);
    border: 1px solid var(--color-detach);
    border-radius: 8px;
}

main .sobre-mim h2,
main .tecnologias h2 {
    margin-bottom: 5px;
}

.projeto-container{
    max-width: 80vw;
    color: var(--color-text);
    margin: 30px auto;
}

.projetos-container h2{
    color: var(--color-title);
    font-family: var(--font-title-secundary);
}

.projeto {
    display: flex;
    flex-direction: row;
}

.projeto .carousel {
    flex: 3;
}

.projeto .sobre-projeto {
    flex: 6;
}
