@import './global.css';

body {
    height: 100vh;
    background-color: var(--color-background);
    font-family: var(--font-text);
}

header {
    background-color: var(--color-background-complement);
    padding: 20px;
    box-shadow: 0 8px 8px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

header > img {
    border-radius: 50%;
    border: 2px solid var(--color-detach);
}

header > h1 {
    font-family: var(--font-title-secundary);
    color: var(--color-title);
}

header .btn {
    padding: 5px 10px;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--color-detach);
    transition: 200ms;
}

header .btn:hover {
    cursor: pointer;
    filter: grayscale(40%);
    scale: 1.01;
}

header > nav {
    display: flex;
    column-gap: 10px;
}

header i.fa-square-github {
    color: #010008;
}

header i.fa-linkedin {
    color: #0e76a8;
}

main {
    padding-bottom: 20px;
}

main .sobre-mim, 
main .tecnologias,
.projeto {
    padding: 20px;
    max-width: 80vw;
    margin: 20px auto;
    background-color: var(--color-background-complement);
    color: var(--color-text);
    border: 1px solid var(--color-title);
    border-radius: 8px;
}

main .sobre-mim h2,
main .tecnologias h2 {
    margin-bottom: 5px;
}

.tecnologias p {
    margin-bottom: 5px;
}

.tecnologias ul {
    list-style-position: inside;
    columns: 2;
}

.projeto-container{
    max-width: 80vw;
    color: var(--color-text);
    margin: 30px auto;
}

.projetos-container h2{
    color: var(--color-title);
    font-family: var(--font-title-secundary);
}

.projeto {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 15px;
}

.projeto .carousel-container {
    flex: 2;
}

.projeto .sobre-projeto {
    flex: 6;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-around;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

div.btns {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

button#next, button#previous {
    background-color: transparent;
    background-image: url("../images/arrow-next-small-svgrepo-com.svg");
    width: 2rem;
    height: 2rem;
    border: 0;
    cursor: pointer;
    display: block;
    background-size: cover;
}

button#previous {
    transform: rotate(180deg);
}

.carousel-container > span + div {
    width: 280px;
    height: 380px;
    background-size: cover;
    background-position: center center;
}

.descricao {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.descricao div {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    row-gap: 20px;
}

.descricao ul {
    list-style-position: inside;
}

.links {
    display: flex;
    column-gap: 10px;
}

@media (max-width: 850px){
    .descricao div {
        flex-direction: column;
    }
}

@media (max-width: 650px){
    .projeto {
        flex-direction: column;
    }
}

@media (max-width: 420px){
    .tecnologias ul {
        columns: auto;
    }
}
