@charset "utf-8";
/* titulos */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* texto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* destaques */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$color-background: #0D1117;
$color-background-complement: #161B22;
$color-title: #0d57ac;
$color-title-secondary: #b8d9ff;
$color-text: #FFFFFF;
$color-detach: #1be401;

$font-title: "Roboto Slab";
$font-title-secundary: "Montserrat";
$font-text: "Open Sans";
$font-text-secundary: "Roboto";
$font-detach: "Lato";

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: $color-background;
    font-family: $font-text;
    color: $color-text;
}

body#index {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;

        background-color: $color-background-complement;
        padding: 20px;

        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.075);

        img {
            border-radius: 50%;
            border: 2px solid $color-detach;
        }

        h1 {
            font-family: $font-title-secundary;
            color: $color-title;
        }

        & > a {
            padding: 5px 10px;
            border-radius: 4px;
            color: #000;

            font-size: 18px;
            font-weight: bold;

            background-color: $color-detach;

            transition: 200ms;

            &:hover {
                scale: 1.01;
            }
        }

        nav {
            a + a {
                margin-left: 5px;
            }

            .fa-linkedin {
                color: #0e76a8;
            }
        }
    }

    main {
        max-width: 80vw;
        padding: 20px 0;
        margin: auto;

        .sobre-mim,
        .tecnologias,
        .projeto {
            padding: 20px;
            margin-bottom: 15px;
            border: 1px solid $color-title;
            border-radius: 8px;
            background-color: $color-background-complement;

            ul {
                list-style-position: inside;
            }
        }

        .tecnologias ul {
            columns: 2;
        }

        .projeto {
            display: flex;
            row-gap: 20px;
            column-gap: 20px;

            .carousel-container {
                flex: 1;

                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 300px;
                    height: 400px;
                    border-radius: 4px; 
                }

                .btns {
                    display: flex;
                    flex-direction: row;

                    * {
                        cursor: pointer;
                        background-color: transparent;
                        background-image: url('../images/arrow-next-small-svgrepo-com.svg');
                        width: 2rem;
                        height: 2rem;
                        border: 0;
                        display: block;
                        background-size: cover;
                    }

                    .previous {
                        transform: rotateZ(180deg);
                    }
                }
            }

            .sobre-projeto {
                flex: 2;

                display: flex;
                flex-direction: column;
                row-gap: 15px;
                justify-content: space-around;

                h2 {
                    color: $color-title-secondary   ;
                }

                .descricao {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    div {
                        display: flex;
                        flex-direction: row;
                        column-gap: 20px;
                        row-gap: 20px;

                        @media screen and (max-width: 1100px) {
                            flex-direction: column;
                        }
                    }
                }
            }

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }
        }
    }
}

body#admin {
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 30px;
        padding: 20px;
        
        button {
            padding: 10px 20px;
            border-radius: 2px;
            font-size: 18px;
            background-color: #ca0b0b;
            cursor: pointer;
        }
        
        section.pessoal {
            background-color: var(--color-background-complement);
            width: 80vw;
            padding: 20px;
            border: 1px solid var(--color-title);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            
            div.img {
                width: 180px;
                height: 180px;
                border-radius: 50%;
                border: 1px solid var(--color-detach);
            }
            
            h1 {
                color: var(--color-title);
                font-size: 32px;
            }
            
            div.btns {
                flex-direction: row;
            }
        }
        
        button#addProjeto {
            background-color: var(--color-detach);
            align-self: flex-end;
        }
        
        div.projeto {
            background-color: var(--color-background-complement);
            width: 80vw;
            padding: 20px;
            margin-bottom: 10px;
            border: 1px solid var(--color-title);
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            row-gap: 20px;

            @media screen and (max-width: 820px){
                flex-direction: column;
            }
        }
        
        div.img {
            background-position: center center;
            background-size: cover;
            width: 160px;
            height: 220px;
        }
        
        div.apresentacao{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        div.btns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            column-gap: 10px;
            
            * {
                width: 50px;
                height: 50px;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                cursor: pointer;
            }

            @media screen and (max-width: 820px){
                flex-direction: row;
            }
        }
        
        i.fa-trash {
            background-color: #ca0b0b;
        }
        
        i.fa-pen-to-square {
            background-color: #14ce14;
        }
        
        form {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        
        }
        
        label {
            margin-top: 10px;
        }
        
        input {
            padding: 10px 20px;
            border-radius: 8px;
            background-color: #eee;
            transition: 200ms;
            margin-top: 5px;
        }
        
        input:hover,
        input:focus {
            background-color: #ccc;
            filter: grayscale(36%);
        }
        
        input[type="submit"]{
            cursor: pointer;
            background-color: var(--color-detach);
            font-size: 14px;
            font-weight: bold;
        }
    }
    
    @media (max-width: 820px){
        div.projeto {
            flex-direction: column;
        }
    
        div.btns {
            flex-direction: row;
        }
    }
    
}
